/** COLORES **/

$primary-color-light-mode: #1470AF;
$primary-color-dark-mode: #B7E2FF;

$secondary-color-light-mode: #053657;
$secondary-color-dark-mode: #8BD0FF;

$background-color-light-mode: #EAEAEE;
$background-color-dark-mode: #343C41;

$text-color-light-mode: #000000;
$text-color-dark-mode: #ffffff;

/** FUENTE **/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
$font-primary: 'Libre Baskerville', serif;